In [8]:
import pandas as pd

df= pd.read_csv("yelp_business_attributes.csv")

In [9]:
df

,business_id,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,BusinessParking_valet,HairSpecializesIn_coloring,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,FYWN1wneV18bWNgQjJ2GNg,Na,Na,Na,True,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
1,He-G7vWjzVUysIKrfNbPUQ,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
2,8DShNS-LuFqpEWIp0HxijA,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
3,PfOCPjBrlQAnz__NXj9h_w,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
4,o9eMRCWt5PkpLDE0gOPtcQ,Na,Na,Na,Na,False,False,False,False,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152036,kLFm_kehXNZkUc1oa2-Eaw,Na,Na,Na,Na,False,False,False,False,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152037,gRGalHVu6BcaUDIAGVW_xQ,Na,Na,Na,True,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152038,XXvZBIHoJBU5d6-a-oyMWQ,Na,Na,True,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152039,lNpPGgM96nPIYM1shxciHg,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152040,viKaP26BcHU6cLx8sf4gKg,Na,Na,Na,True,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [10]:
column_names = [i for i in df.columns]
print(column_names)

['business_id', 'AcceptsInsurance', 'ByAppointmentOnly', 'BusinessAcceptsCreditCards', 'BusinessParking_garage', 'BusinessParking_street', 'BusinessParking_validated', 'BusinessParking_lot', 'BusinessParking_valet', 'HairSpecializesIn_coloring', 'HairSpecializesIn_africanamerican', 'HairSpecializesIn_curly', 'HairSpecializesIn_perms', 'HairSpecializesIn_kids', 'HairSpecializesIn_extensions', 'HairSpecializesIn_asian', 'HairSpecializesIn_straightperms', 'RestaurantsPriceRange2', 'GoodForKids', 'WheelchairAccessible', 'BikeParking', 'Alcohol', 'HasTV', 'NoiseLevel', 'RestaurantsAttire', 'Music_dj', 'Music_background_music', 'Music_no_music', 'Music_karaoke', 'Music_live', 'Music_video', 'Music_jukebox', 'Ambience_romantic', 'Ambience_intimate', 'Ambience_classy', 'Ambience_hipster', 'Ambience_divey', 'Ambience_touristy', 'Ambience_trendy', 'Ambience_upscale', 'Ambience_casual', 'RestaurantsGoodForGroups', 'Caters', 'WiFi', 'RestaurantsReservations', 'RestaurantsTakeOut', 'HappyHour', 'GoodForDancing', 'RestaurantsTableService', 'OutdoorSeating', 'RestaurantsDelivery', 'BestNights_monday', 'BestNights_tuesday', 'BestNights_friday', 'BestNights_wednesday', 'BestNights_thursday', 'BestNights_sunday', 'BestNights_saturday', 'GoodForMeal_dessert', 'GoodForMeal_latenight', 'GoodForMeal_lunch', 'GoodForMeal_dinner', 'GoodForMeal_breakfast', 'GoodForMeal_brunch', 'CoatCheck', 'Smoking', 'DriveThru', 'DogsAllowed', 'BusinessAcceptsBitcoin', 'Open24Hours', 'BYOBCorkage', 'BYOB', 'Corkage', 'DietaryRestrictions_dairy-free', 'DietaryRestrictions_gluten-free', 'DietaryRestrictions_vegan', 'DietaryRestrictions_kosher', 'DietaryRestrictions_halal', 'DietaryRestrictions_soy-free', 'DietaryRestrictions_vegetarian', 'AgesAllowed', 'RestaurantsCounterService']

In [12]:
import psycopg2

conn = psycopg2.connect(database = "Yelp", user = "postgres", password = "root", host = "127.0.0.1", port = "5432")
print ("Opened database successfully")

cur = conn.cursor()
cur.execute('''CREATE TABLE yelp_business_attributes
(business_id varchar(20), AcceptsInsurance varchar(20), ByAppointmentOnly varchar(20), 
BusinessAcceptsCreditCards varchar(20), BusinessParking_garage varchar(20),
BusinessParking_street varchar(20), BusinessParking_validated varchar(20), BusinessParking_lot varchar(20),
BusinessParking_valet varchar(20), HairSpecializesIn_coloring varchar(20), HairSpecializesIn_africanamerican varchar(20),
HairSpecializesIn_curly varchar(20), HairSpecializesIn_perms varchar(20), HairSpecializesIn_kids varchar(20), 
HairSpecializesIn_extensions varchar(20), HairSpecializesIn_asian varchar(20), HairSpecializesIn_straightperms varchar(20),
RestaurantsPriceRange2 varchar(20), GoodForKids varchar(20), WheelchairAccessible varchar(20), BikeParking varchar(20), 
Alcohol varchar(20), HasTV varchar(20), NoiseLevel varchar(20), RestaurantsAttire varchar(20), Music_dj varchar(20), Music_background_music varchar(20),
Music_no_music varchar(20), Music_karaoke varchar(20), Music_live varchar(20), Music_video varchar(20), Music_jukebox varchar(20),
Ambience_romantic varchar(20), Ambience_intimate varchar(20), Ambience_classy varchar(20), Ambience_hipster varchar(20), Ambience_divey varchar(20),
Ambience_touristy varchar(20), Ambience_trendy varchar(20), Ambience_upscale varchar(20), Ambience_casual varchar(20), 
RestaurantsGoodForGroups varchar(20), Caters varchar(20), WiFi varchar(20), RestaurantsReservations varchar(20), RestaurantsTakeOut varchar(20),
HappyHour varchar(20), GoodForDancing varchar(20), RestaurantsTableService varchar(20), OutdoorSeating varchar(20), RestaurantsDelivery varchar(20),
BestNights_monday varchar(20), BestNights_tuesday varchar(20), BestNights_friday varchar(20), BestNights_wednesday varchar(20),
BestNights_thursday varchar(20), BestNights_sunday varchar(20), BestNights_saturday varchar(20), GoodForMeal_dessert varchar(20),
GoodForMeal_latenight varchar(20), GoodForMeal_lunch varchar(20), GoodForMeal_dinner varchar(20), GoodForMeal_breakfast varchar(20),
GoodForMeal_brunch varchar(20), CoatCheck varchar(20), Smoking varchar(20), DriveThru varchar(20), DogsAllowed varchar(20),
BusinessAcceptsBitcoin varchar(20), Open24Hours varchar(20), BYOBCorkage varchar(20), BYOB varchar(20), Corkage varchar(20),
DietaryRestrictions_dairy_free varchar(20), DietaryRestrictions_gluten_free varchar(20), DietaryRestrictions_vegan varchar(20), 
DietaryRestrictions_kosher varchar(20), DietaryRestrictions_halal varchar(20), DietaryRestrictions_soy_free varchar(20),
DietaryRestrictions_vegetarian varchar(20), AgesAllowed varchar(20), RestaurantsCounterService varchar(20));''')
print("Table created successfully")

conn.commit()
conn.close()

Opened database successfully

DuplicateTable: relation "yelp_business_attributes" already exists

In [13]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
  
  
conn_string = 'postgresql://postgres:root@localhost:5432/Yelp'
  
db = create_engine(conn_string)
conn = db.connect()
  
df.to_sql('yelp_business_attributes', con=conn, if_exists='replace',index=False)

41